*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    /* border: 1px solid black; */
    padding: 20px;
    background-color: #bc8e8e;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    height: 200px;
}

#cel{
    border: none;
    padding: 5px 13px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
}

#fer{
    background-color: #edf507;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 7px 17px;
}

#btn{
    border: none;
    padding: 7px 18px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 14px;
    background-color: #0e58eddb;
    color: white;
}